.header {
    background-color: #b3e6a1;
    padding: 20px;
    text-align: center;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 10px;
    gap: 15px;
  }
  
  .tab {
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .tab:hover, .tab:focus {
    font-weight: bold;
    color: #333;
  }
  
  .content {
    padding: 20px;
  }  

.inventory-management {
    padding: 20px;
    text-align: left;
  }
  
  .new-entry-button {
    background-color: blue;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .entry-form {
    display: grid;
    gap: 10px;
    margin-top: 20px;
  }
  
  .entry-form label {
    display: flex;
    justify-content: space-between;
  }

  .login-button {
    margin-top: 20px;
    background-color: blue;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
  }  

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  